#root {
    display: inline;
}

.memory-card {
    margin-right: 31px;
    width: 155px;
    height: 155px;
    background-color: #f25a70;
    border-radius: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.-language {
    background-color: #fff;
}

.-language > .icon {
    transform: translateY(-10%);
    z-index: 1;
}

.circle {
    transform: translateY(5%);
    position: absolute;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    background-color: #d4d4d4;
}

.memory-card > .icon {
    width: 100px;
    height: 100px;
}